<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Create a Custom Madlib!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/css/styles.css"/>
  </head>
  <body>
    <h1>Fill in your name and your friend's name and create a mad libs!</h1>
    <form action="/story2" method="post">
      <label for="noun1">Noun</label>
      <input id="noun1" name="noun1" type="text">
      <hr>
      <label for="noun2">Noun</label>
      <input id="noun2" name="noun2" type="text">
      <hr>
      <label for="noun3">Noun</label>
      <input id="noun3" name="noun3" type="text">
      <hr>
      <label for="adjective1">Adjective</label>
      <input id="adjective1" name="adjective1" type="text">
      <hr>
      <label for="adjective2">Adjective</label>
      <input id="adjective2" name="adjective2" type="text">
      <hr>
      <label for="adjective3">Adjective</label>
      <input id="adjective3" name="adjective3" type="text">
      <hr>
            <label for="adjective4">Adjective</label>
      <input id="adjective4" name="adjective4" type="text">
      <hr>
      <label for="verb1">Verb</label>
      <input id="verb1" name="verb1" type="text">
      <hr>
      <label for="ptverb1">Past Tense Verb</label>
      <input id="ptverb1" name="ptverb1" type="text">
      <hr>
      <label for="ptverb2">Past Tense Verb</label>
      <input id="ptverb2" name="ptverb2" type="text">
      <hr>
      <label for="adverb1">Adverb</label>
      <input id="adverb1" name="adverb1" type="text">
      <hr>
      <label for="adverb2">Adverb</label>
      <input id="adverb2" name="adverb2" type="text">
      <hr>
      <button type="submit">Go!</button>
    </form>
  </body>
</html>